<<<<<<< HEAD
div {

border: 3px solid gray;
background-color: white;
padding: 40px;
width: 40%;
margin-top: 100px;
font-size: large;
display: inline-block;


}

body {
   
    
    background-color: lightgray;
    background-size: 10px;
    
}

button {

width: 142px;
height: 49px;
border-radius: 2%;
background-color: #ffffff30;
padding: 10px 30px;
margin: 20px 0px 0px;

}

li {


    list-style: none;
    
    width: 60%;
    height: 60%;
    text-align: left;
}

img {

width: 540px;
height: 656px;
padding: 30px 10px;
vertical-align: top;


}
=======
div {

border: 3px solid gray;
background-color: white;
padding: 40px;
width: 40%;
margin-top: 100px;
font-size: large;
display: inline-block;


}

body {
   
    
    background-color: lightgray;
    background-size: 10px;
    
}

button {

width: 142px;
height: 49px;
border-radius: 2%;
background-color: #ffffff30;
padding: 10px 30px;
margin: 20px 0px 0px;

}

li {


    list-style: none;
    
    width: 60%;
    height: 60%;
    text-align: left;
}

img {

width: 540px;
height: 656px;
padding: 30px 10px;
vertical-align: top;


}
>>>>>>> 8ed0b264f0ab0e7ed37b41d681732ec224cf14e5
