
#i:hover {

background: gray;
    
}

#i2:hover {


    background: gray;
}


.item {

text-decoration: underline; 
/* 밑줄 속성 = 12.19 */



}


.item2 {


margin-top: 10%;
display: inline-block;    
width: 20%;
padding: 1%;
height: 200%;
background: lightgray;
background-size: 100px;


}


.item3
{
        
    
    margin-top: 10%;
    

}





h1 {


    border-bottom: 2px solid gray;
}


li {


    
    /* 목록 점 없애기 */
    list-style: none;
} 
